@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap");

:root {
  --header-height: 3.5rem;
  --bg-color: hsl(220, 18%, 78%);
  --bg-color-light: hsl(220, 18%, 86%);
  --title-color: hsl(220, 8%, 10%);
  --text-color: hsl(220, 4%, 32%);
  --text-color-light: hsl(220, 4%, 55%);
  --body-color: hsl(220, 18%, 99%);
  --container-color: hsl(220, 18%, 97%);
  --body-font: 'Lora', serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1124px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s; /*For animation dark mode*/
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body.dark-theme {
  --bg-color: hsl(220, 18%, 13%);
  --bg-color-light: hsl(220, 18%, 23%);
  --title-color: hsl(220, 8%, 95%);
  --text-color: hsl(220, 8%, 65%);
  --body-color: hsl(220, 18%, 18%);
  --container-color: hsl(220, 18%, 21%);
  transition: .4s; /*For animation dark mode*/
}

.change-theme{
  font-size: 1.125rem;
  color: var(--title-color);
  cursor: pointer;
}

.dark-theme .scroll-header{
  box-shadow: 0 2px 8px hsla(220, 18%, 8%, .3);
}

.dark-theme .nav__menu{
  background-color: var(--container-color);
}

.dark-theme .nav__menu, 
.dark-theme .scrollup{
  box-shadow: 0 4px 8px hsla(220, 18%, 8%, .3);
}

.dark-theme::-webkit-scrollbar{
  background-color: hsl(220, 18%, 15%);
}
.dark-theme::-webkit-scrollbar-thumb{
  background-color: hsl(220, 18%, 25%);

}
.dark-theme::-webkit-scrollbar-thumb:hover{
  background-color: hsl(220, 18%, 35%);
}
.dark-theme .footer__social-link{
  color: aliceblue;
}

.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 3rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-fixed);
  background-color: transparent;
  transition: .4s; /*For animation dark mode*/
}

.nav{
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__logo{
  font-weight: var(--font-medium);
  color: var(--title-color);
}

@media screen and (max-width: 1023px) {
  .nav__menu{
    position: fixed;
    bottom: 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0 4px 12px hsla(220, 18%, 40%, .15);
    width: 90%;
    left: 0;
    right: 0;
    margin:0 auto;
    padding: 1.25rem 2.8rem;
    border-radius: .5rem;
    transition: .4s; /*For animation dark mode*/
  }
  .nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__link{
    color: var(--text-color-light);
    font-weight: var(--font-medium);
    display: grid;
    justify-items: center;
    row-gap: .25rem;
  }
  .nav__link i{
    font-size: 1.25rem;
  }
  .nav__link span{
    Font-size: .688rem;
  }
}


.scroll-header{
  background-color: var(--body-color);
  box-shadow: 0 1px 4px hsla(220, 4%, 15%, .1);
}

.active-link{
  color: var(--title-color);
}

.home{
    background-color: var(--bg-color);
    overflow: hidden; /* For animation ScrollReveal */
    transition: .4s; /*For animation dark mode*/
}

.home__container{
  padding: 4rem 0 1rem;
  row-gap: 8.5rem;
}

.home__title{
  font-size: var(--biggest-font-size);
  font-weight: 400;
}

.home__discrepstion{
  margin: 1rem 0 2rem;
  color: var(--text-color);
}
.home__title , .home__discrepstion{
   line-height: 140%;
}

.home__images{
  position: relative;
  width: 300px;
  justify-self: center;
}

.home__images img:nth-child(1){
  position: absolute;
  right: -1.5rem ;
  width: 224px;
  top: -9.5rem;
}
.home__images img:nth-child(2){
  position: relative;
  width: 180px;
  margin-left: .5rem;
}

.button__link{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-medium);
  color: var(--title-color);
}

.button__link i{
  font-size: 1rem;
  transition: .3s;
}

.button__link:hover i{
  transform: translateX(.25rem);
}

.new__container{
  padding-bottom: 1.5rem;
  row-gap: 2.5rem;
}

.new__card{
  justify-self: center;
}


.new__card img{
  width: 270px;
  margin-bottom: 1rem;
}

.new__link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--title-color);
  padding-right: .75rem;
}

.new__link i{
  font-size: 1.25rem;
  transition: .3s;
}

.new__title{
  font-size: var(--h2-font-size);
  margin-bottom: .5rem;
}

.new__subtitle{
  color: var(--text-color);
  font-size: var(--text-color);
}

.new__link:hover i{
  transform: translateX(.25rem);
}

.collection{
  background-color: var(--bg-color-light);
  overflow: hidden; 
  transition: .4s; 
}
.collection__container{
    position: relative;
    height: 571px;
    display: grid;
    justify-items: center;
}

.collection__title{
  font-size: var(--h1-font-size);
  margin-bottom: .75rem;
}

.collection__explore{
  display: grid;
  column-gap: 2rem;
  position: absolute;
}

.collection__explore:nth-child(2){
  grid-template-columns: 230px max-content;
  bottom: 1rem;
  margin-right: 5rem;
}

.collection__explore:nth-child(1){
  grid-template-columns: max-content 230px ;
  top: 0;
  margin-left: 5rem;
}
.collection__data-men{
  margin-top: 2.5rem;
}
.collection__data-women{
  align-self: flex-end;
  margin-bottom: 2.5rem;
}


.products__container{
  padding-bottom: 5rem ;
}
.products__card{
  width: 270px;
}

.products__img{
  margin-bottom: 2rem;
}
.products__title{
  font-size: var(--h3-font-size);
  margin-bottom: .75rem;
}

.products__price{
  font-size: var(--font-medium);
  color: var(--title-color);
}


.swiper-button-prev::after, 
.swiper-button-next::after{
    content: '';
}

.swiper-button-next,
.swiper-button-prev{
  top: initial;
  bottom: 0;
  width: initial;
  height: initial;
  font-size: 1.5rem;
  color: var(--title-color);
}

.swiper-button-next{
  right: calc(50% - 2rem);
}
.swiper-button-prev{
  left: calc(50% - 2rem);
}

.brand__container{
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  column-gap: 1.25rem;
}

.brand__img{
  width: 120px;
}

.brand__img:nth-child(even){
  margin-top: 2rem;
}

.footer__container{
  row-gap: 3rem;
}

.footer__logo{
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  display:inline-block;
  margin-bottom: .75rem;
}

.footer__content,
.footer__links{
  display: grid;
}
 .footer__content{
  grid-template-columns: repeat(2, max-content);
  gap: 3.5rem 3rem;
 }

.footer__title{
  font-size: var(--h3-font-size);
  row-gap: 1.25rem;
}

.footer__links{
  row-gap: .75rem;
}

.footer__link,
.footer__information{
  font-size: var(--small-font-size);
}

.footer__link{
  color: var(--text-color);
  transition: 3s;
}

.footer__link:hover{
  color: var(--title-color);
  text-decoration: underline;
}

.footer__info{
  margin-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .75rem;
}

.footer__social{
  display: flex;
  column-gap: .5rem;
}

.footer__social-link{
  display: inline-flex;
  padding: .4rem;
  background-color: var(--container-color);
  font-size: 1.25rem;
  transition:  .3s;
  color: black;
}

.footer__social-link:hover{
  background-color: var(--bg-color-light);
}

.footer__copy,
.footer__privacy{
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}



::-webkit-scrollbar{
  width: .6px;
  border-radius: .5rem;
  background-color: hsl(220, 8%, 76%);
}

::-webkit-scrollbar-thumb{
  background-color: hsl(220, 8%, 64%);
  border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
  background-color: hsl(220, 8%, 54%);
}


.scrollup{
  position: fixed;
  right: 1rem;
  bottom:-30%;
  background-color: var(--container-color);
  box-shadow: 0 8px 12px hsla(220, 18%, 45%, .15);
  display: inline-flex;
  padding: .35rem;
  color: var(--title-color);
  font-size: 1.1rem;
  border-radius: 5rem;
  transition:.3s;
  cursor: pointer;
  z-index: 100;
}

.scrollup:hover{
transform: translateY(-.25rem);
}

.show-scroll{
  bottom: 7.5rem;
}


@media screen and (max-width: 510px) {
  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .footer__content{
    grid-template-columns: max-content;
    row-gap: 2rem;
  }
  .nav__menu{
    padding: 1rem 1.5rem;
  }
  .home__container{
    padding: 2rem 0 1rem;
    row-gap: 6rem;
  }
  .home__discrepstion{
    font-size: var(--small-font-size);
  }
  .home__images{
    width: 248px;
  }
  .home__images img:nth-child(1){
    width: 180px;
    top: -7rem;
  }
  .home__images img:nth-child(2){
    width: 150px;
  }
  .new__img{
    width: 230px;
  }
  .new__link{
    padding-right: 0;
  }
  .collection__explore:nth-child(1),
  .collection__explore:nth-child(2){
    position: initial;
    grid-template-columns: 230px;
    row-gap: 2rem;
    margin: 0;
  }
  .collection__container{
    height: initial;
    row-gap: 3rem;
  }
  .collection__data-men{
    margin-top: 0;
  }
  .collection__data-women{
    margin-top: 0;
  }
  .products__card{
    width: 230px;
  }
  .brand__container{
    grid-template-columns: repeat(2, 100px);
    row-gap: .5rem;
  }
}
  

  



@media screen and (min-width: 576px){
  .nav__menu{
    width: 342px;
  }
  .footer__content{
    grid-template-columns: repeat(3, max-content);
  }
}

@media screen and (min-width: 999px) {
  
  .home__container,.new__container{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
  }
  .home__images{
    margin-top: 6rem;
  }
  .brand__container{
    grid-template-columns: repeat(4, max-content);
  }

  .footer__container{
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
}




@media screen and (min-width: 1024px){
  .section{
    padding: 7rem 0 1rem;
  }
  .section__title{
    margin-bottom: 4rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__menu{
    width: initial;
    margin-left: auto;
  }
  .nav__list{
    display: flex;
    column-gap: 3rem;
  }

  .nav__link{
    color: var(--text-color);
    font-weight: var(--font-medium);
    transition: .3s;
  }
  .nav__link i{
    display: none;
  }

  .nav__link:hover{
    color: var(--title-color);
  }


  .active-link{
    color: var(--title-color);
  }

  .ri-moon-line{
    margin-left: 3rem;
    color: var(--text-color);
  }

  .dark-theme .nav__menu{
    background-color:transparent;
    box-shadow: none;
  }

  .products__container{
    width: 945px;
  }

  .footer__content{
    grid-template-columns: repeat(4, max-content);
    column-gap: 5.5rem;
  }

  .footer__link{
    font-size: var(--normal-font-size);
  }

  .footer__info{
    padding-bottom: 2rem;
    row-gap: 1rem;
  }
}
  
@media screen and (min-width: 1054px) {
  .container{
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width : 1124px) {
  .home__container{
    padding: 10rem 0 3rem;
    column-gap: 0;
  }
  .home__images{
    width: 500px;
    margin-top: 8rem;
    transform: translate(-1rem);
  }

  .home__images img:nth-child(1){
    width: 345px;
    top: -14.5rem;
  }
  .home__images img:nth-child(2){
    width: 277px;
  }

  .new__container{
    grid-template-columns: repeat(3, max-content);
    padding-bottom: 4.5rem;
    gap: 4.5rem;
  }

  .new__img{
    margin-bottom: 1.25rem;
  }

  .new__title{
    font-size: var(--h3-font-size);
  }

  .collection__container{
    height: 760px;
    margin-bottom: 2rem;
  }

  .collection__explore:nth-child(1){
    margin-left: 10rem;
    grid-template-columns: max-content 330px;
  }
  .collection__explore:nth-child(2){
    margin-right: 10rem;
    grid-template-columns:330px max-content ;
  }
  .collection__explore{
    column-gap: 5rem;
  }
  .products__img{
    width: 330px;
  }

  .products__container{
    padding-bottom: 7rem ;
    
  }
  .brand__container{
    column-gap: 5.5rem;
  }
  .brand__img{
    width: 140px;
  }

  .scrollup{
    right: 3rem;
  }

  .show-scroll{
    bottom: 3rem;
  }
}



@media screen and (min-width: 2048px) {
  body{
    zoom: 1.3;
  }
}



@media screen and (min-width: 3840px) {
  body{
    zoom: 2.3;
  }
}
